
<link rel="stylesheet" href="{{ 'component-header1.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-header1.css' | asset_url | stylesheet_tag }}</noscript>
<div class="header" style="padding: 0px {{ section.settings.padding_top_bottom }}">
  <div class="left">

  {%- if section.settings.menu != blank -%}
    {%- for link in section.settings.menu.links -%}

      {%- if link.links != blank -%}
        <div class="dropdownn">
          <a class="nav-link dropdownn" href="{{ link.url }}">{{ link.title | escape }}{% render 'icon-caret' %}</a>

          <ul class="dropdown-content" id="dropdown-content">
            {%- for childlink in link.links -%}
              <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
            {%- endfor -%}
          </ul>
        </div>

      {%- else -%}
        <a class="nav-link" href="{{ link.url }}">{{ link.title | escape }}</a>
      {%- endif -%}

    {%- endfor -%}
  {%- endif -%}
  </div>
  <div class="center">
    <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
      {%- if section.settings.logo != blank -%}
        {%- assign image_size = section.settings.logo_width | append: 'x' -%}
        <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          src="{{ section.settings.logo | img_url: image_size }}"
          loading="lazy"
          class="header__heading-logo"
          width="{{ section.settings.logo.width }}"
          height="{{ section.settings.logo.height }}"
          alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
        >
      {%- else -%}
        <span class="h2">{{ shop.name }}</span>
      {%- endif -%}
    </a>
  </div>
  <div class="right">
    <a class="nav-link" href="/search">Search</a>
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/cart">Cart({{ cart.items }})</a>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "range",
      "id": "padding_top_bottom",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Header Height",
      "default": 5
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
